{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b60c8a34d.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>Find Your Books</title>
</head>
<body>
    <div class="book">
        <div class="book-title">
            Find Your Books
        </div>
    </div>
    <div class="container">
        <div class="container-search">
            <input type="text" id="input" placeholder="Search for books.." title="Type in the title"><br>
            <button id="btn">Search</button><br>
            <span id="status"></span>  
        </div>
        <div class="container-content">
            <table id="demo" class="container-table">
                <thead>
                    <tr>
                        <th scope="col" class="container-part">No</th>
                        <th scope="col" class="container-part">Cover</th>
                        <th scope="col" class="container-part">Title</th>
                        <th scope="col" class="container-part">Authors</th>
                        <th scope="col" class="container-part">Publisher</th>
                        <th scope="col" class="container-part">Published Date</th>
                    </tr>
                </thead>
                <tbody id="hasil"></tbody>
            </table>
        </div>
    </div>
</body>
</html>