body, html{
    margin-top: 2%;
    background-color: #F1F1F2;
    height: 100%;
}

.book{
    text-align: center;
    margin-bottom: 2%;
}

.book-title{
    color: darkblue;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 200%;
}

.container{
    font-family: 'Montserrat';
    font-size: 75%;
}

.container-search{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.container-table{
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: lightgray}

.container-content{
    overflow-x: auto;
}